.vue-scroll- {
  &root{
    display: flex;
  }
  &outer{
    width: calc(100% - 24px);
    white-space: nowrap;
    overflow: auto;
    float: left;
    -ms-overflow-style: none;  // IE 10+
    scrollbar-width: none;  // Firefox
    &::-webkit-scrollbar{
      display: none;  // Safari and Chrome
    }
  }
  &inner{
    width: fit-content;
  }
  &more-icon{
    width: 24px;
    float: left;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all .2s;

    svg{
      display: block;
      fill: #6c757d;
      transition: all .23s ease-in-out;
      transform: rotate(0.5turn);
      height: 100%;
    }

    svg:hover{
      transform: rotate(0turn);
    }

    &:hover{
      background-color: aliceblue;
    }
  }
}
